.header-container{
    background-color: black;
    float: right;
    height: 0 auto;
    color: azure;
    width: 100%;
	display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.header{
    background-color: black;
    height: 0 auto;
    width: 100%;
}

.formacao img{
    height: 100%;
}

